{% extends "layout.html" %}

<!-- Gallery source code gotten from: http://blueimp.github.io/Gallery/ -->
{% block content %}

<!-- The Gallery as lightbox dialog, should be a document body child element -->
<div id="blueimp-gallery"
     class="blueimp-gallery blueimp-gallery-controls"
     aria-label="image gallery"
     aria-modal="true"
     role="dialog">
    <div class="slides" aria-live="polite"></div>
    <h3 class="title"></h3>
    <a class="prev"
       aria-controls="blueimp-gallery"
       aria-label="previous slide"
       aria-keyshortcuts="ArrowLeft"></a>
    <a class="next"
       aria-controls="blueimp-gallery"
       aria-label="next slide"
       aria-keyshortcuts="ArrowRight"></a>
    <a class="close"
       aria-controls="blueimp-gallery"
       aria-label="close"
       aria-keyshortcuts="Escape"></a>
    <a class="play-pause"
       aria-controls="blueimp-gallery"
       aria-label="play slideshow"
       aria-keyshortcuts="Space"
       aria-pressed="false"
       role="button"></a>
    <ol class="indicator"></ol>
</div>

<!-- The images to display in the gallery. -->
<div class="d-grid justify-content-center">
    <!-- CGs to display. -->
    <section class="text-center h1">CGs</section>

    <div id="cg-links" class="d-flex flex-wrap justify-content-around">
        <a class="d-inline-block p-2" href="../static/images/cg/a_1.jpg" title="Three Paths">
            <img src="../static/images/cg/thumbnails/a_1.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/cg/b.jpg" title="At the Quarry">
            <img src="../static/images/cg/thumbnails/b.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/cg/d.jpg" title="Veiled Seduction">
            <img src="../static/images/cg/thumbnails/d.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/cg/e_1.jpg" title="Tired">
            <img src="../static/images/cg/thumbnails/e_1.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/cg/e_3.jpg" title="Pained & Tired">
            <img src="../static/images/cg/thumbnails/e_3.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/cg/f.jpg" title="Treasure From the Trash">
            <img src="../static/images/cg/thumbnails/f.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/cg/J_complete.png" title="Making Tacos">
            <img src="../static/images/cg/thumbnails/J_complete.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/cg/k.jpg" title="A Haunting in Gettlesteam">
            <img src="../static/images/cg/thumbnails/k.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/cg/l.jpg" title="The Final Picnic">
            <img src="../static/images/cg/thumbnails/l.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/cg/M_complete.jpg" title="Hug Before the Journey">
            <img src="../static/images/cg/thumbnails/M_complete.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/cg/n.jpg" title="A Glimpse of the Future">
            <img src="../static/images/cg/thumbnails/n.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/cg/p.jpg" title="Commotion">
            <img src="../static/images/cg/thumbnails/p.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/cg/q.jpg" title="Waiting">
            <img src="../static/images/cg/thumbnails/q.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/cg/r.jpg" title="Date With Fate">
            <img src="../static/images/cg/thumbnails/r.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/cg/T_FULL.PNG" title="Brush With Death">
            <img src="../static/images/cg/thumbnails/T_FULL.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/cg/V_4_full.png" title="A Lord's Intervention">
            <img src="../static/images/cg/thumbnails/V_4_full.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/cg/V_5_full.png" title="Repulsion From Fate">
            <img src="../static/images/cg/thumbnails/V_5_full.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/cg/W_full.png" title="Commit to your True Destiny">
            <img src="../static/images/cg/thumbnails/W_full.webp" />
        </a>
    </div>

    <!-- Backgrounds to display. -->
    <section class="text-center h1">Backgrounds</section>

    <div id="background-links" class="d-flex flex-wrap justify-content-around">
        <a class="d-inline-block p-2" href="../static/images/backgrounds/alleyway2.jpg" title="Alley">
            <img src="../static/images/backgrounds/thumbnails/alleyway2.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/backgrounds/cap.jpg" title="Captain's Quarters'">
            <img src="../static/images/backgrounds/thumbnails/cap.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/backgrounds/dock.jpg" title="Docking Bay">
            <img src="../static/images/backgrounds/thumbnails/dock.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/backgrounds/flat.jpg" title="Clarevine's Home'">
            <img src="../static/images/backgrounds/thumbnails/flat.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/backgrounds/forge.jpg" title="Forge and Home">
            <img src="../static/images/backgrounds/thumbnails/forge.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/backgrounds/Gettlesteam.jpg" title="Gettlesteam">
            <img src="../static/images/backgrounds/thumbnails/Gettlesteam.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/backgrounds/serene.jpg" title="Serene Room">
            <img src="../static/images/backgrounds/thumbnails/serene.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/backgrounds/submarine.jpg" title="Submarine Interior">
            <img src="../static/images/backgrounds/thumbnails/submarine.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/backgrounds/ocean bot.jpg" title="Ocean's Bottom">
            <img src="../static/images/backgrounds/thumbnails/ocean bot.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/backgrounds/ocean mid.jpg" title="Sea Jellies">
            <img src="../static/images/backgrounds/thumbnails/ocean mid.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/backgrounds/ocean top.jpg" title="Just Below the Surface">
            <img src="../static/images/backgrounds/thumbnails/ocean top.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/backgrounds/a1.jpg" title="Space 1">
            <img src="../static/images/backgrounds/thumbnails/a1.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/backgrounds/a2.jpg" title="Space 2">
            <img src="../static/images/backgrounds/thumbnails/a2.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/backgrounds/a2_nocross.jpg" title="Space 3">
            <img src="../static/images/backgrounds/thumbnails/a2_nocross.webp" />
        </a>
    </div>

    <!-- Sketches to display. -->
    <section class="text-center h1">Sketches</section>

    <div id="sketch-links" class="d-flex flex-wrap justify-content-around">
        <a class="d-inline-block p-2" href="../static/images/sketches/1.JPG">
            <img src="../static/images/sketches/thumbnails/1.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/sketches/10.JPG">
            <img src="../static/images/sketches/thumbnails/10.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/sketches/11.JPG">
            <img src="../static/images/sketches/thumbnails/11.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/sketches/12.JPG">
            <img src="../static/images/sketches/thumbnails/12.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/sketches/13.JPG">
            <img src="../static/images/sketches/thumbnails/13.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/sketches/2.JPG">
            <img src="../static/images/sketches/thumbnails/2.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/sketches/3.JPG">
            <img src="../static/images/sketches/thumbnails/3.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/sketches/4.JPG">
            <img src="../static/images/sketches/thumbnails/4.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/sketches/5.JPG">
            <img src="../static/images/sketches/thumbnails/5.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/sketches/6.JPG">
            <img src="../static/images/sketches/thumbnails/6.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/sketches/7.JPG">
            <img src="../static/images/sketches/thumbnails/7.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/sketches/8.JPG">
            <img src="../static/images/sketches/thumbnails/8.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/sketches/9.JPG">
            <img src="../static/images/sketches/thumbnails/9.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/sketches/ExpSketch_0000s_0000s_0001_Neutral copy 2.jpg">
            <img src="../static/images/sketches/thumbnails/ExpSketch_0000s_0000s_0001_Neutral copy 2.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/sketches/ExpSketch_0000s_0000_Sad.jpg">
            <img src="../static/images/sketches/thumbnails/ExpSketch_0000s_0000_Sad.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/sketches/ExpSketch_0000s_0001_Disappointed.jpg">
            <img src="../static/images/sketches/thumbnails/ExpSketch_0000s_0001_Disappointed.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/sketches/ExpSketch_0000s_0002_Happy.jpg">
            <img src="../static/images/sketches/thumbnails/ExpSketch_0000s_0002_Happy.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/sketches/ExpSketch_0000s_0003_Angry.jpg">
            <img src="../static/images/sketches/thumbnails/ExpSketch_0000s_0003_Angry.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/sketches/ExpSketch_0000s_0004_Stern.jpg">
            <img src="../static/images/sketches/thumbnails/ExpSketch_0000s_0004_Stern.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/sketches/ExpSketch_0000s_0005_Worried.jpg">
            <img src="../static/images/sketches/thumbnails/ExpSketch_0000s_0005_Worried.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/sketches/ExpSketch_0000s_0006_Neutral Effect copy.jpg">
            <img src="../static/images/sketches/thumbnails/ExpSketch_0000s_0006_Neutral Effect copy.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/sketches/ExpSketch_0000s_0007_Neutral.jpg">
            <img src="../static/images/sketches/thumbnails/ExpSketch_0000s_0007_Neutral.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/sketches/ExpSketch_0001s_0000s_0000_Neutral copy.jpg">
            <img src="../static/images/sketches/thumbnails/ExpSketch_0001s_0000s_0000_Neutral copy.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/sketches/ExpSketch_0001s_0000_Evil Smile.jpg">
            <img src="../static/images/sketches/thumbnails/ExpSketch_0001s_0000_Evil Smile.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/sketches/ExpSketch_0001s_0001_Twisted copy.jpg">
            <img src="../static/images/sketches/thumbnails/ExpSketch_0001s_0001_Twisted copy.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/sketches/ExpSketch_0001s_0002_Twisted.jpg">
            <img src="../static/images/sketches/thumbnails/ExpSketch_0001s_0002_Twisted.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/sketches/ExpSketch_0001s_0003_Angry.jpg">
            <img src="../static/images/sketches/thumbnails/ExpSketch_0001s_0003_Angry.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/sketches/ExpSketch_0001s_0004_Neutral_Mad.jpg">
            <img src="../static/images/sketches/thumbnails/ExpSketch_0001s_0004_Neutral_Mad.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/sketches/ExpSketch_0001s_0005_With wings copy.jpg">
            <img src="../static/images/sketches/thumbnails/ExpSketch_0001s_0005_With wings copy.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/sketches/ExpSketch_0001s_0006_Neutral.jpg">
            <img src="../static/images/sketches/thumbnails/ExpSketch_0001s_0006_Neutral.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/sketches/ExpSketch_0002s_0000_Twisted.jpg">
            <img src="../static/images/sketches/thumbnails/ExpSketch_0002s_0000_Twisted.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/sketches/ExpSketch_0002s_0001_Pained.jpg">
            <img src="../static/images/sketches/thumbnails/ExpSketch_0002s_0001_Pained.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/sketches/ExpSketch_0002s_0002_Questioning.jpg">
            <img src="../static/images/sketches/thumbnails/ExpSketch_0002s_0002_Questioning.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/sketches/ExpSketch_0002s_0003_Sigh.jpg">
            <img src="../static/images/sketches/thumbnails/ExpSketch_0002s_0003_Sigh.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/sketches/ExpSketch_0002s_0004_Disappointed.jpg">
            <img src="../static/images/sketches/thumbnails/ExpSketch_0002s_0004_Disappointed.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/sketches/ExpSketch_0002s_0005_Tired.jpg">
            <img src="../static/images/sketches/thumbnails/ExpSketch_0002s_0005_Tired.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/sketches/ExpSketch_0002s_0006_Angry.jpg">
            <img src="../static/images/sketches/thumbnails/ExpSketch_0002s_0006_Angry.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/sketches/ExpSketch_0002s_0007_Frustrated.jpg">
            <img src="../static/images/sketches/thumbnails/ExpSketch_0002s_0007_Frustrated.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/sketches/ExpSketch_0002s_0008_Confused.jpg">
            <img src="../static/images/sketches/thumbnails/ExpSketch_0002s_0008_Confused.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/sketches/ExpSketch_0002s_0009_Happy.jpg">
            <img src="../static/images/sketches/thumbnails/ExpSketch_0002s_0009_Happy.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/sketches/ExpSketch_0002s_0010_Sad.jpg">
            <img src="../static/images/sketches/thumbnails/ExpSketch_0002s_0010_Sad.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/sketches/ExpSketch_0002s_0011_Surprised.jpg">
            <img src="../static/images/sketches/thumbnails/ExpSketch_0002s_0011_Surprised.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/sketches/ExpSketch_0002s_0012_Reminiscing.jpg">
            <img src="../static/images/sketches/thumbnails/ExpSketch_0002s_0012_Reminiscing.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/sketches/ExpSketch_0002s_0013_Pose+Handwave.jpg">
            <img src="../static/images/sketches/thumbnails/ExpSketch_0002s_0013_Pose+Handwave.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/sketches/ExpSketch_0002s_0014_Pose_Hand on hips].jpg">
            <img src="../static/images/sketches/thumbnails/ExpSketch_0002s_0014_Pose_Hand on hips].webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/sketches/ExpSketch_0002s_0015_Pose_Hands behind back.jpg">
            <img src="../static/images/sketches/thumbnails/ExpSketch_0002s_0015_Pose_Hands behind back.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/sketches/ExpSketch_0002s_0016_Pose_Rubneck.jpg">
            <img src="../static/images/sketches/thumbnails/ExpSketch_0002s_0016_Pose_Rubneck.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/sketches/ExpSketch_0002s_0017_Pose grabback.jpg">
            <img src="../static/images/sketches/thumbnails/ExpSketch_0002s_0017_Pose grabback.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/sketches/ExpSketch_0002s_0018_Neutral.jpg">
            <img src="../static/images/sketches/thumbnails/ExpSketch_0002s_0018_Neutral.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/sketches/a.png">
            <img src="../static/images/sketches/thumbnails/a.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/sketches/b.png">
            <img src="../static/images/sketches/thumbnails/b.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/sketches/c.png">
            <img src="../static/images/sketches/thumbnails/c.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/sketches/Screen Shot 2018-06-10.png">
            <img src="../static/images/sketches/thumbnails/Screen Shot 2018-06-10.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/sketches/sketch.png">
            <img src="../static/images/sketches/thumbnails/sketch.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/sketches/sketches (1).png">
            <img src="../static/images/sketches/thumbnails/sketches (1).webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/sketches/sketches.png">
            <img src="../static/images/sketches/thumbnails/sketches.webp" />
        </a>

        <a class="d-inline-block p-2" href="../static/images/sketches/sketchfix.png">
            <img src="../static/images/sketches/thumbnails/sketchfix.webp" />
        </a>
    </div>
</div>

<!-- Script for the gallery. -->
<script src="../static/blueimp-gallery/js/blueimp-gallery.min.js"></script>

<!-- Javascript code for the gallery. -->
<script>
    let matches = document.querySelectorAll("#cg-links, #background-links, #sketch-links");

    matches.forEach(function (id)
    {
        id.onclick = function (event) {
            event = event || window.event
            var target = event.target || event.srcElement
            var link = target.src ? target.parentNode : target
            var options = { index: link, event: event }
            var links = this.getElementsByTagName('a')
            blueimp.Gallery(links, options)
        }
    });
</script>

{% endblock %}