<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-S6KQ4BFFHT"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-S6KQ4BFFHT');
    </script>

    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Unsound Minds: The Clarevine Epoch; Windows and Linux</title>
    
    <link rel="stylesheet" href="../static/content/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/content/styles.css" />
</head>

<body class="luminosity-background" alt="Two women hugging. One jealous ghost looks at the two girls.">
    <!-- The element containing the menu bar. -->
    <div class="container-fluid fixed-top">
        <div class="row flex-nowrap" style="background-color: rgba(0, 0, 0, 0.5)">
            <header class="col fs-5 text-center">
                <a class="link-light" href="home">Home</a>
            </header>

            <header class="col fs-5 text-center">
                <a class="link-light" href="gallery">Art Gallery</a>
            </header>

            <header class="col fs-5 text-center">
                <a class="link-light" href="player">Music Player</a>
            </header>
        </div>
    </div>
    
    <!-- The element containing the social media icons and copyright information. -->
    <div class="container fixed-bottom">
        <div class="row justify-content-center align-items-center">
            <div class="w-auto text-center">
                <a href="https://twitter.com/64thReminiscent">
                    <img href="" class="img-fluid" style="max-width: 30px" src="../static/images/2021 Twitter logo - white.png" alt="Icon that links to Twitter." />
                </a>
            </div>
            
            <div class="w-auto text-center">
                <a href="https://reminiscent-64.itch.io/">
                    <img class="img-fluid" style="max-width: 30px" src="../static/images/itchio-logo-textless-white.png" alt="Icon that links to Itch.io site." />
                </a>
            </div>
        </div>

        <div class="row">
            <footer class="p-2 text-center">&copy; 2017-{{now.year}} Reminiscent 64.</footer>
        </div>
    </div>

    {% block content %}{% endblock %}
</body>
</html>