<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Unsound Minds: The Clarevine Epoch; Windows and Linux</title>
    <link rel="stylesheet" href="../static/content/styles.css" />
</head>
<body class="luminosity-background" alt="Two women hugging. One jealous ghost looks at the two girls.">
    <div class="grid-wrapper">
        <div class="column">1 piece of text.</div>
        <div class="column">2 piece of text.</div>
        <small class="column">© 2022 Reminiscent 64.</small>
    </div>
    
    {% block content %}{% endblock %}
</body>
</html>