body
{
}

img {

}

header, footer {
    font-family: Lora;
    font-style: italic;
    color: ghostwhite;
}

header {
    font-weight: bold;
}

footer {
    white-space: nowrap;
    font-weight: 500;
}

a {

}

/* Custom classes. */
.header-background {
    /* https://colorhunt.co/palette/97bfb4f5eedcdd4a484f091d */
    border-radius: 3px;
    color: #F5EEDC;
    text-shadow: 1px 1px 1px black, 1px 1px 1px black, 1px 1px 1px black;
    background-color: rgba(79, 9, 29, 0.9);
    transition: background-color 0.5s, color 0.6s;
}

.header-background:hover {
    /* https://colorhunt.co/palette/97bfb4f5eedcdd4a484f091d */
    background-color: rgba(221, 74, 72, 0.8);
}

.footer-background {
    /* https://colorhunt.co/palette/97bfb4f5eedcdd4a484f091d */
    background-color: rgba(79, 9, 29, 0.9);
}

.luminosity-background {
    /* Creates a version of the background image with a purple hue and saturation. */
    background: linear-gradient(#291D2999,#291D2999), url(../images/M_complete.jpg), linear-gradient(#291D29,#291D29);
    background-blend-mode: luminosity;
    
    /*
        Ensures that the background image maintains aspect ratio 
        no matter the size and never goes higher than its resolution.
    */
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

/* typical phone screen resolution */
@media only screen and (max-width : 667px) {
    .luminosity-background {
        background: linear-gradient(#291D2999,#291D2999), url('../images/M_complete Rotated.jpg'), linear-gradient(#291D29,#291D29);
        
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }
}
/* landscape orientation */
@media only screen and (min-width : 375px) and (max-width : 667px) and (orientation : landscape) {
    /*Do stuff here to fix iPhone landscape scenario.*/
    .luminosity-background {
        background: linear-gradient(#291D2999,#291D2999), url(../images/M_complete.jpg), linear-gradient(#291D29,#291D29);
        
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }
}
/* portrait orientation */
@media only screen and (min-width : 375px) and (max-width : 920px) and (orientation : portrait) {
    .luminosity-background {
        background: linear-gradient(#291D2999,#291D2999), url('../images/M_complete Rotated.jpg'), linear-gradient(#291D29,#291D29);
        
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }
}
